## HouseKeeping

In [3]:
date()

[1] "Thu Jul 07 21:30:34 2022"

In [4]:
Sys.time()

[1] "2022-07-07 21:30:46 WAT"

In [5]:
R.version.string

[1] "R version 3.6.1 (2019-07-05)"

In [6]:
ls()

character(0)

In [8]:
# get the working directory
getwd()

[1] "C:/Users/HP/Projects/Biostatistics Projects/Descriptive statistics, Data Exploration and Measure of Central Tendency"

In [9]:
sessionInfo()

R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18362)

Matrix products: default

locale:
[1] LC_COLLATE=English_United Kingdom.1252
[2] LC_CTYPE=English_United Kingdom.1252
[3] LC_MONETARY=English_United Kingdom.1252
[4] LC_NUMERIC=C
[5] LC_TIME=English_United Kingdom.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

loaded via a namespace (and not attached):
 [1] compiler_3.6.1  IRdisplay_0.7.0 pbdZMQ_0.3-3    tools_3.6.1
 [5] htmltools_0.3.6 base64enc_0.1-3 crayon_1.3.4    Rcpp_1.0.1
 [9] uuid_0.1-2      IRkernel_0.8.15 jsonlite_1.6    digest_0.6.18
[13] repr_0.19.2     evaluate_0.13

## Reading the dataset

In [12]:

dataset <- read.table(file = "CPIIISectionLbsGender.csv", header = TRUE, sep=",")
head(dataset,4)

  StudentID Course       Section Lbs Gender
1 N5323     CPIII0201320 AM      123 Female
2 N5023     CPIII0201320 AM      120 Female
3 N6658     CPIII0201320 AM      137 Female
4 N5687     CPIII0201320 AM      127 Female

In [14]:
ls()

[1] "dataset"

In [15]:
attach(dataset)

In [17]:
# checking the structure of the dataset

str(dataset)

'data.frame':	61 obs. of  5 variables:
 $ StudentID: Factor w/ 61 levels "N2224","N3374",..: 35 24 58 40 48 36 15 14 12 10 ...
 $ Course   : Factor w/ 1 level "CPIII0201320": 1 1 1 1 1 1 1 1 1 1 ...
 $ Section  : Factor w/ 2 levels "AM","PM": 1 1 1 1 1 1 1 1 1 1 ...
 $ Lbs      : int  123 120 137 127 129 124 114 114 112 110 ...
 $ Gender   : Factor w/ 2 levels "Female","Male": 1 1 1 1 1 1 1 1 1 1 ...

In [19]:
# checking the number of rows
nrow(dataset)

[1] 61

In [20]:
# checking the number of columns
ncol(dataset)

[1] 5

In [21]:
# checking the dimension of the dataset

dim(dataset)

[1] 61  5

In [22]:
# checking the names of the columns

names(dataset)

[1] "StudentID" "Course"    "Section"   "Lbs"       "Gender"